<!Doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Jordan Brocker Rudow Portfolio" content="Portfolio, Resume, Blog, Python Django Web Developer">
  <meta name="keywords" content="react, javascript, html, css, web, design, development, nodejs, bootstrap, python, django, resume, backend, portfolio">

  <title>Portfolio | About</title>
  <!-- Bootstrap Necessary Stylesheet and Scripts -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4690b49544.js" crossorigin="anonymous"></script>

  <!-- Github Contribution Calendar Script -->
  <script
    src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js">
  </script>
  <!-- Github Contribution Calendar Theme -->
  <link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"/>
  <style>
  :root {
      --color-calendar-graph-day-bg: #dddbdb;
      --color-calendar-graph-day-L1-bg: #7c00ff;
      --color-calendar-graph-day-L2-bg: #249BCF;
      --color-calendar-graph-day-L3-bg: #2E5CE8;
      --color-calendar-graph-day-L4-bg: #A41DDE;
  }
  .hidden {
    display: none;
  }
  .bg-purple {
    color: #212529;
  }

  .bg-purple:hover {
    background: #412C9E;
  }
  svg {
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
  </style>
</head>
<body>
	<div class="container">
      <nav class="navbar navbar-light bg-light navbar-expand-sm fixed-top text-dark">
       <div class="container">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
          </button>
         <a class="navbar-brand"  href="/">Jordan Brocker Rudow</a>
         <div class="collapse navbar-collapse" id="Navbar">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
             <li class="nav-item"><a class="nav-link" href="#contactModal" data-toggle="modal" data-target="#contactModal">Contact</a></li>
             <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
      <!-- Begin Header -->
      <div class="container">
        <header>
      		<div class="header">
      			<h1 class="sr-only">About</h1>
      		</div>
      	</header>
      </div>
      <!-- Contact Modal -->
    <div class="modal fade" id="contactModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Send a Message</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row mb-2">
                  <div class="col-3">
                    <label for="contactName">Name</label>
                  </div>
                   <div class="col-9">
                    <input type="text" class="form-control" id="contactName" placeholder="Enter name" name="contactName">
                  </div>
                </div>
                <div class="row mt-2">
                   <div class="col-3">
                       <label for="contactEmail">Email Address</label>
                   </div>
                   <div class="col-9">
                      <input type="text" class="form-control" id="contactEmail" placeholder="Enter email address" name="contactEmail">
                   </div>
                </div>
                <div class="row mb-2">
                   <div class="col-3">
                      <label for="contactMsg">Message</label>
                   </div>
                   <div class="col-9">
                      <textarea class="form-control" rows="5" id="contactMsg" placeholder="Enter a brief message" name="contactMsg"></textarea>
                   </div>
               	</div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" onlclick="emailMsg()">Send</button>
           </div>
          </div>
        </div>
    </div>


    <div class="container">
	     <div class="row">
          <div class="p-2 col-12">
            <h2>
              About
            </h2>
          </div>
          <div class="p-2 col-12">
          </div>
	       </div>
	      <div class="row">
          <div class="p-2 col-12 col-sm-6">
            <h2>
              Based in Chicago
            </h2>
          </div>
          <div class="col-12 col-sm-6">
            <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-87.63879776000977%2C41.85933357450051%2C-87.60661125183107%2C41.89116051944157&amp;layer=hot&amp;marker=41.875249028099624%2C-87.62270450592041"></iframe>
          </div>
        </div>
  </div>

  <div class="container">
      <div class="row m-3">
		<div class="p-2 col-12">
			<h2>Technologies and Skills</h2>
        </div>
      </div>
      <div class="row m-3">
        <p class="sr-only">python logo</p>
      <div class="p-2 col-4 col-md-3">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.000000 339.000000"
         preserveAspectRatio="xMidYMid meet">
        <metadata>
        Created by potrace 1.10, written by Peter Selinger 2001-2011
        </metadata>
        <g transform="translate(0.000000,339.000000) scale(0.050000,-0.050000)"
        fill="#000000" stroke="none">
        <path d="M2572 5779 c-620 -86 -729 -217 -716 -864 l4 -214 585 -6 585 -5 0
        -70 0 -70 -910 -10 -910 -10 -112 -53 c-402 -188 -596 -840 -458 -1539 124
        -627 276 -777 785 -778 l275 0 0 295 c1 505 121 748 446 898 l124 57 750 10
        c839 12 824 9 986 159 53 48 110 129 142 201 l54 119 -6 706 c-7 840 -22 888
        -324 1065 -177 103 -900 164 -1300 109z m-60 -407 c54 -54 68 -84 68 -145 0
        -251 -298 -324 -408 -100 -107 221 166 419 340 245z"/>
        <path d="M4420 4307 c-1 -555 -130 -822 -476 -983 l-114 -54 -750 -11 c-412
        -5 -768 -18 -790 -28 -179 -80 -312 -237 -361 -430 -53 -205 -34 -1338 23
        -1461 298 -629 1951 -632 2261 -3 29 58 38 134 44 368 l7 295 -593 0 -593 0 6
        75 6 75 970 10 c1071 11 1022 5 1153 143 463 488 384 1915 -121 2183 -71 37
        -121 44 -377 50 l-295 8 0 -237z m-515 -2687 c43 -47 55 -81 55 -150 0 -267
        -345 -307 -423 -49 -64 215 217 367 368 199z"/>
        </g>
        </svg>
        </div>
        <div class="p-2 col-4 col-md-3">
          <p class="sr-only">Django Logo</p>
          <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300.000000 300.000000"
           preserveAspectRatio="xMidYMid meet">
          <metadata>
          Created by potrace 1.10, written by Peter Selinger 2001-2011
          </metadata>
          <g transform="translate(0.000000,300.000000) scale(0.050000,-0.050000)"
          fill="#000000" stroke="none">
          <path d="M2670 5708 c-1866 -275 -2905 -2147 -2141 -3858 606 -1358 2337
          -1966 3677 -1292 1907 959 2032 3632 224 4761 -477 299 -1235 466 -1760 389z
          m550 -2426 l0 -1357 -225 -36 c-1051 -167 -1615 144 -1619 892 -4 635 418
          1027 1069 993 l195 -10 0 438 0 438 290 0 290 0 0 -1358z m940 1058 l0 -300
          -300 0 -300 0 0 300 0 300 300 0 300 0 0 -300z m-5 -1525 c-12 -1259 -74
          -1465 -513 -1702 l-105 -57 -269 127 c-308 146 -299 136 -166 196 149 67 322
          245 373 383 71 190 85 386 85 1199 l0 779 302 0 302 0 -9 -925z"/>
          <path d="M2250 3270 c-178 -63 -270 -226 -270 -483 0 -296 158 -457 449 -457
          228 0 211 -39 211 480 l0 451 -51 19 c-74 28 -245 23 -339 -10z"/>
          </g>
          </svg>
        </div>
        <div class="p-2 col-4 col-md-3">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 32v448h448V32H0zm243.8 349.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"/></svg>

      </div>

      <div class="p-2 col-4 col-md-3">
        <p class="sr-only">Flask Logo</p>
      </div>

       <div class="p-2 col-4 col-md-3">
         <p class="sr-only">JavaScript Logo</p>
      </div>

      <div class="p-2 col-4 col-md-3">
        <p class="sr-only">Node JS Logo</p>
      </div>

      <div class="p-2 col-4 col-md-3">
        <p class="sr-only">React Logo</p>
      </div>

      <div class="p-2 col-4 col-md-3">
        <p class="sr-only">Java Logo</p>
      </div>

      <div class="p-2 col-4 col-md-3">
        <p class="sr-only">HTML5 Logo</p>
      </div>

      <div class="p-2 col-4 col-md-3">
        <p class="sr-only">CSS3 Logo</p>
      </div>

      <div class="p-2 col-4 col-md-3">
        <p class="sr-only">Bootstrap Logo</p>
      </div>
      <div class="p-2 col-4 col-md-3">
        <p class="sr-only">Sass Logo</p>
      </div>
      <div class="p-2 col-4 col-md-3">
        <p class="sr-only">Less Logo</p>
      </div>
      <div class="p-2 col-4 col-md-3">
        <p class="sr-only">Git Logo</p>
      </div>
   </div>
  </div>
    <footer>
        <div class="container p-2">
          <div class="d-flex justify-content-center">
            <div class="col-2 offset-1">
              <a href="https://github.com/Trianglium"><i class='fab fa-github-square' style='font-size:48px;'></i></a>
            </div>
            <div class="col-2">
                <a href="https://www.linkedin.com/in/jordan-brocker-rudow/"><i class='fab fa-linkedin' style='font-size:48px;'></i></a>
            </div>
            <div class="col-2">
                <a href="#contactModal" data-toggle="modal" data-target="#contactModal"><i class='fas fa-envelope-square' style='font-size:48px;'></i></a>
            </div>
           </div>
          </div>
        </footer>
        <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

        <!-- Github Icon Tool Tip -->
        <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
          });
        </script>
        <!-- Message Sent Alert Message -->
        <script>
            function emailSuccess() {
              const element = document.getElementById("sentAlert");
              if (element.className == "hidden") {
                element.className = "alert alert-success dismissable";
              } else {
                element.className = "hidden";
              }
            }
        </script>
    </body>
    </html>
