{% extends "base.html" %}
{% load static %}

{% block head %}
<!-- Github Contribution Calendar Script -->
<script
  src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js">
</script>

<!-- Github Contribution Calendar Theme -->
<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"/>
{% endblock %}

{% block jumbo_head %}Jordan's Portfolio{% endblock %}
{% block jumbo_text %}{% endblock %}

{% block breadcrumb %}
{% endblock %}


{% block body %}
    <div class="col-xs-12 col-sm-6">
        <h2>Latest Projects</h2>
        <h3>Critter Cache<br><small> An Animal themed matching game written in Python</small></h3>
        <span class="d-none d-sm-none d-md-block">
          <p><i class="fa-brands fa-python"></i>  <i class="fa-solid fa-gamepad"></i>  <i class="fa-brands fa-creative-commons-pd"></i></p>
          <p><i class="fa-brands fa-github"></i><em> Fork it on Github</em></p>
        </span>
        <h3>Movie Night<br><small> The Social Movie App built with Django, Python, and React</small></h3>
        <span class="d-none d-sm-none d-md-block">
          <p>
            <i class="fa-brands fa-js"></i>
            <i class="fa-brands fa-react"></i>
            <i class="fa-brands fa-python"></i>
          </p>
          <p>
            <i class="fa-brands fa-github"></i><em> Fork it on Github</em>
          </p>

        </span>
        <h3>Open Source Contributions<small></small></h3>
        <span class="d-none d-sm-none d-md-block">
          <p><em></em></p>
        <!-- Container for github contribution calendar. -->
        <div class="calendar">
        </div>
        </span>
        <h3><small></small></h3>
        <span class="d-none d-sm-none d-md-block">
          <p><em></em></p>
        </span>
    </div>
  <div class="container">
    <div class="row row-content align-items-center">
        <div class="col-sm col-md flex-last">
            <div class="media">
                <div class="media-body">
                  <h2 class="mt-0">Critter Cache <span class="badge badge-danger"><i class="fa-brands fa-python"></i>  <i class="fa-solid fa-gamepad"></i>  <i class="fa-brands fa-creative-commons-pd"></i></span></h2>
                      <p class="d-none d-sm-block">An Animal themed matching game written in Python </p>
                      <p><i class="fa-brands fa-github"></i><em> Fork it on Github</em></p>
                </div>
                <img class="d-flex ml-3 img-thumbnail align-self-center" src="img/crittercache.png" alt="Critter Cache">
            </div>
        </div>
    </div>

      <div class="row row-content align-items-center">
        <div class="col col-sm order-sm-first col-md">
              <div class="media">
                  <img class="d-flex mr-3 img-thumbnail align-self-center"
                          src="img/movienight.png" alt="Movie Night">
                  <div class="media-body">
                      <h2 class="mt-0">Movie Night <span class="badge badge-dark">
                        <i class="fa-brands fa-js"></i>
                        <i class="fa-brands fa-react"></i>
                        <i class="fa-brands fa-python"></i>
                      </span></h2>
                      <p class="d-none d-sm-block"> The Social Movie App built with Django, Python, and React.
                      </p>
                      <p><i class="fa-brands fa-github"></i><em> Fork it on Github</em></p>
                  </div>
              </div>
        </div>
    </div>
{% endblock %}

{% block bodyscripts %}
<!-- Github Contribution Calendar Script -->
<script>
    GitHubCalendar(".calendar", "trianglium");
    GitHubCalendar(".calendar", "trianglium", { responsive: true });
</script>
{% endblock %}
