<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="css/styles.css" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4690b49544.js" crossorigin="anonymous"></script>

  <title>{% block title %}{% endblock %}</title>

</head>

<body>
  <nav class="navbar navbar-dark  bg-info navbar-expand-sm fixed-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
          </button>
           <a class="navbar-brand" href="./index.html">Jordan Brocker Rudow</a>
           <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                  {% block navlinks %}
                  {% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
              {% block jumbo %}
                <div class="col-12 col-sm-6">
                    <h1>{% block jumbo_head %}{% endblock %}</h1>
                    <p class="h5">{% block jumbo_text %}{% endblock %}</p>
                </div>
                <div class="col-12 col-sm">
                </div>
              {% endblock %}
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row row-content">
          <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'wsite:home' %}">Portfolio</a></li>
                <li class="breadcrumb-item active">{% block activebreadcrumb %}{% endblock %}</li>
            </ol>
            <div class="col">
               <h3>{% block activepagetitle %}{% endblock %}</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-6">
                <h2>{% block content_head %}{% endblock %}</h2>
                <p>{% block content_text %}{% endblock %}</p>
            </div>
            <div>
            </div>
        </div>


        <div class="row row-content">
          {% block content %}{% endblock %}
            <div class="col">
                <h2>Technologies</h2>
                <h3>Programming Languages<small></small></h3>
                <span class="d-none d-sm-none d-md-block">
                  <p>Python<em></em></p>
                  <p>JavaScript<em>(HTML/CSS)</em></p>
                  <p>Java<em></em></p>
                </span>
                <h3>Frameworks<small></small></h3>
                <span class="d-none d-sm-none d-md-block">
                  <p>Django<em></em></p>
                  <p>Django Rest Framework<em></em></p>
                  <p>Flask<em></em></p>
                  <p>Pygame<em></em></p>
                  <p>React</p>

                </span>
                <h3>Databases<small></small></h3>
                <span class="d-none d-sm-none d-md-block">
                  <p>MySQL/MariaDB<em></em></p>
                </span>
                <h3>Development Tools<small></small></h3>
                <span class="d-none d-sm-none d-md-block">
                  <p>Git / Github<em></em></p>
                </span>
            </div>
       </div>

    </div>

    <footer class="footer bg-light">
        <div class="container">
            <div class="row mb-1">
                {% block footer %}{% endblock %}
           </div>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>

</html>
