{% extends "master.html" %}
{% block navlinks %}
<li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><span class="fas fa-book fa-lg"></span> Portfolio</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'about' %}"><span class="fas fa-id-card fa-lg"></span> About</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'projects' %}"><span class="fas fa-project-diagram fa-lg"></span> Projects</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}"><span class="fas fa-comments fa-lg"></span> Contact</a></li>
{% endblock %}
