{% extends "master.html" %}
{% block navlinks %}
<li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><span class="fa fa-home fa-lg"></span> Portfolio</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'about' %}"><span class="fa fa-info fa-lg"></span> About</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'projects' %}"><span class="fa fa-list fa-lg"></span> Projects</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}"><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
{% endblock %}
